<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uLike</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/scripts/index.js"></script>
</head>
<body>
    <!-- header -->
    <header id="header">
        <a href="index.html"><img id="logo" src="../static/img/cute.png" /></a>
        <a id="login-tab" href="login.html">로그인</a>
    </header>

    <!-- bar -->
    <nav id="nav">
        <div>
            <a href="moviemain.html">영화</a>
            <a href="#">책</a>
            <a href="#">게임</a>
        </div>
    </nav>

    <!-- section_mainsearch -->
    <div id="mainsearch">
        <img src="../static/img/logo.png"/>
        <div id="searchbox">
            <input type="text" placeholder="검색어 입력"/>
            <input type="button" id="searchbtn" value="검색"/>
            <a href="#">함께하고 싶은 컨텐츠가 있다면?</a>
        </div>
    </div>

    <!-- section_new -->
    <div id="mainnew">
        <div id="newtab">
            <ul>
                <li class="main-movie">영화</li>
                <li class="main-book">책</li>
                <li class="main-book">게임</li>
            </ul>
            <div>
                <h4>MOVIE</h4>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/movie_sample01.jpg"/></a>
                    <div class="new-imgtext"><p>movie_sample01</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/movie_sample02.jpg"/></a>
                    <div class="new-imgtext"><p>movie_sample02</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/movie_sample03.jpg"/></a>
                    <div class="new-imgtext"><p>movie_sample03</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/movie_sample04.jpg"/></a>
                    <div class="new-imgtext"><p>movie_sample04</p></div>
                </div>
            </div>
            <div>
                <h4>BOOK</h4>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/book_sample.png"/></a>
                    <div class="new-imgtext"><p>book_sample</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/book_sample.png"/></a>
                    <div class="new-imgtext"><p>book_sample</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/book_sample.png"/></a>
                    <div class="new-imgtext"><p>book_sample</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/book_sample.png"/></a>
                    <div class="new-imgtext"><p>book_sample</p></div>
                </div>
            </div>
            <div>
                <h4>GAME</h4>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/game_sample.png"/></a>
                    <div class="new-imgtext"><p>game_sample</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/game_sample.png"/></a>
                    <div class="new-imgtext"><p>game_sample</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/game_sample.png"/></a>
                    <div class="new-imgtext"><p>game_sample</p></div>
                </div>
                <div class="new-imgwrap">
                    <a href="#"><img src="../static/img/game_sample.png"/></a>
                    <div class="new-imgtext"><p>game_sample</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 