<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uLike</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>
<body>
    <!-- header -->
    <div id="header">
        <a href="index.html"><img id="logo" src="../static/img/cute.png" /></a>
        <a id="login-tab" href="login.html">로그인</a>
    </div>

    <!-- bar -->
    <div id="nav">
        <div>
            <a href="#">영화</a>
            <a href="#">책</a>
        </div>
    </div>

    <!-- section_mainsearch -->
    <div id="mainsearch">
        <img src="../static/img/logo.png"/>
        <div id="searchbox">
            <input type="text" placeholder="검색어 입력"/>
            <input type="button" id="searchbtn" value="검색"/>
            <a href="#">함께하고 싶은 컨텐츠가 있다면?</a>
        </div>
    </div>

    <!-- section_new -->
    <div id="mainnew">
        <div>
            <div class="new-imgwrap">
                <a href="#"><img src="../static/img/sample01.png"/></a>
                <div class="new-imgtext"><p>SAMPLE_01</p></div>
            </div>
            <div class="new-imgwrap">
                <a href="#"><img src="../static/img/sample02.png"/></a>
                <div class="new-imgtext"><p>SAMPLE_02</p></div>
            </div>
            <div class="new-imgwrap">
                <a href="#"><img src="../static/img/sample03.png"/></a>
                <div class="new-imgtext"><p>SAMPLE_03</p></div>
            </div>
            <div class="new-imgwrap">
                <a href="#"><img src="../static/img/sample04.png"/></a>
                <div class="new-imgtext"><p>SAMPLE_04</p></div>
            </div>
        </div>
    </div>
</body>
</html> 