<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스파이더맨: 노 웨이 홈 : uLike 영화</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>
<body>
    <!-- header -->
    <header id="header">
        <div id="pagetitle">
            <a href="index.html"><img src="../static/img/logo.png"/></a>
            <img src="../static/img/movietitle.png" />
        </div>
        <a id="login-tab" href="login.html">로그인</a>
    </header>

    <!-- bar -->
    <nav id="nav">
        <div>
            <a href="moviemain.html">영화</a>
            <a href="bookmain.html">책</a>
            <div id="navsearchbox">
                <input type="text" placeholder="검색어 입력"/>
                <input type="button" id="navsearchbtn" value="검색"/>
            </div>
        </div>
    </nav>
</body>
</html>